@CHARSET "UTF-8";
.editform {
	background-color:#F6F6F6;
	border-bottom:1px solid #DAD9A9;
	border-top:2px solid orange;
	color:#000000;
	margin: 0px 0px 5px 0px;
	padding: 5px;
}

.button{
	background:#ECF1F4 url(../images/bg/bgbtn.gif) repeat-x top;
	border:1px solid #DAD9A9;
	color: black;
	vertical-align:middle;
}

.button:hover{
	background-color:#4E8CCF;
	border-color:#4E8CCF;
	color: white;
	background-image: none;
}

.editform input.text{
	padding:1px;
	width: 200px;
}

.editform label{
	font-weight: normal;
	line-height: 30px;
}